html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    display: flex;
    justify-content: space-between;
}

.welcome-box {
    display: flex;
    flex: 1;
    border: 2px black;
}

.unkown-skill-box, .known-skill-box {
    display: flex;
    border: 2px black;
}

.footer {
    background-color: grey;
}